In [5]:
# リスト
def remove_evenindex(ln):
  del ln[::2]
  return ln

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']))

['b', 'd', 'f']

In [7]:
def remove_evenindex(ln):
  del ln[::3]
  return ln

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']))

['b', 'c', 'e', 'f']

In [14]:
numbers = [30, 50, 10, 20, 40, 60]
max(numbers)
min(numbers)

10

In [11]:
# 要素が全て同じ値のリストを作る
zero = [0] * 10
zero

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
# copy
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers.copy()
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[10, 20, 30, 40, 50]

In [22]:
# ドメインの変更
def change_domain(email, domain):
  email2 = email.split("@")
  email2[1] = domain
  return "@".join([email2[0], email2[1]])

print(change_domain('spam@utokyo-ipp.org', 'ipp.u-tokyo.ac.jp'))

spam@ipp.u-tokyo.ac.jp

In [26]:
# タプル＝変更できないデータ
numbers3 = (1, 2, 3)
print(numbers3)

numbers3 = 1,2,3
print(numbers3)

# 要素が一つだけの場合
only = (1,)
print(only)

# タプルをリストに変換
numbers = (1, 2, 3)
print(list(numbers))

# リストをタプルに変換
numbers = [1, 2, 3]
print(tuple(numbers))

(1, 2, 3)
(1, 2, 3)
(1,)
[1, 2, 3]
(1, 2, 3)

In [33]:
def reverse_totuple(ln):
  ln.reverse()
  ln2 = tuple(ln)
  return ln2
  
print(reverse_totuple([1, 2, 3, 4, 5]))

(5, 4, 3, 2, 1)

In [35]:
def sum_list(ln):
  sum = 0
  for value in ln:
    sum += value
  return sum

print(sum_list([10, 20, 30]))
print(sum_list([-1, 2, -3, 4, -5]))

60
-3

In [37]:
def atgc_countlist(str_atgc):
  a = 0
  t = 0
  c = 0
  g = 0
  for value in str_atgc:
    if value == "A":
      a += 1
    elif value == "T":
      t += 1
    elif value == "C":
      c += 1
    else:
      g += 1
  return [a, "A"], [t, "T"], [c, "C"], [g, "G"]

print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

In [40]:
# ↑の模範解答
def atgc_countlist(str_atgc):
  list_count = []
  for value in "ATGC":
    int_bpcnt = str_atgc.count(value)
    list_count.append([int_bpcnt, value])
  return list_count

print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

In [45]:
def exception9(a):
  for value in a:
    if a.count(value) < 2:
      return value
    elif a.count(value) == 9:
      return None
print(exception9([1,2,2,2,2,2,2,2,2]))
print(exception9([4,4,4,4,4,4,4,4,4]))

1
None

In [47]:
x = -1

if x < 1:
  print('x is less than 1')
elif x < 2:
  print('x is larger than or equal to 1, and less than 2')
elif x < 3:
  print('x is larger than or equal to 2, and less than 3')
else:
  print('x is larger or equal to 3')

x is less than 1

In [48]:
# 3項演算子（条件式）
x = 0
sign = "positive or zero" if x >= 0 else "negative"
print(sign)

positive or zero

In [70]:
def reverse_lookup(list1):
  dic = {}
  for value in list1:
      dic[value] = list1.index(value)
  return dic
  
  

print(reverse_lookup(['apple', 'pen', 'orange']))

{'apple': 0, 'pen': 1, 'orange': 2}

In [78]:
# キーを指定して値を得るメソッド
ppap = {"apple" : 3, "pen" : 5}
print(ppap.get("apple"))
print(ppap.get("pen"))

# 指定したキーが含まれていない時のみ引数の値をgetで返す値にできる
print(ppap.get("apple",9))
print(ppap.get("orange",-1))

# 指定したキーが含まれていない時に登録を行う
print(ppap.setdefault("apple",7))
print(ppap)
print(ppap.setdefault("orange",8))
print(ppap)

# キー一覧
list(ppap.keys())
# 値一覧
list(ppap.values())

# キーと値の一覧
list(ppap.items())

3
5
3
-1
3
{'apple': 3, 'pen': 5}
8
{'apple': 3, 'pen': 5, 'orange': 8}

[('apple', 3), ('pen', 5), ('orange', 8)]

In [85]:
def handle_collision(dic1, str1):
  if dic1.get(len(str1)) is None:
    return dic1.setdefault(len(str1),str1)
  else:
    return dic1[len(str1)].append(str1)
  
dic1_orig = {3: ['ham', 'egg'], 6: ['coffee', 'brandy'], 9: ['port wine'], 15: ['curried chicken']}
dic1_result = {3: ['ham', 'egg', 'tea'], 6: ['coffee', 'brandy'], 9: ['port wine'],15: ['curried chicken']}
handle_collision(dic1_orig, 'tea')
print(dic1_orig == dic1_result)

True