In [5]:
# リスト
def remove_evenindex(ln):
  del ln[::2]
  return ln

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']))

['b', 'd', 'f']

In [7]:
def remove_evenindex(ln):
  del ln[::3]
  return ln

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']))

['b', 'c', 'e', 'f']

In [14]:
numbers = [30, 50, 10, 20, 40, 60]
max(numbers)
min(numbers)

10

In [11]:
# 要素が全て同じ値のリストを作る
zero = [0] * 10
zero

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
# copy
numbers = [10, 20, 30, 40, 50]
numbers2 = numbers.copy()
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)

[50, 40, 10]
[10, 20, 30, 40, 50]

In [22]:
# ドメインの変更
def change_domain(email, domain):
  email2 = email.split("@")
  email2[1] = domain
  return "@".join([email2[0], email2[1]])

print(change_domain('spam@utokyo-ipp.org', 'ipp.u-tokyo.ac.jp'))

spam@ipp.u-tokyo.ac.jp

In [26]:
# タプル＝変更できないデータ
numbers3 = (1, 2, 3)
print(numbers3)

numbers3 = 1,2,3
print(numbers3)

# 要素が一つだけの場合
only = (1,)
print(only)

# タプルをリストに変換
numbers = (1, 2, 3)
print(list(numbers))

# リストをタプルに変換
numbers = [1, 2, 3]
print(tuple(numbers))

(1, 2, 3)
(1, 2, 3)
(1,)
[1, 2, 3]
(1, 2, 3)

In [33]:
def reverse_totuple(ln):
  ln.reverse()
  ln2 = tuple(ln)
  return ln2
  
print(reverse_totuple([1, 2, 3, 4, 5]))

(5, 4, 3, 2, 1)

In [35]:
def sum_list(ln):
  sum = 0
  for value in ln:
    sum += value
  return sum

print(sum_list([10, 20, 30]))
print(sum_list([-1, 2, -3, 4, -5]))

60
-3

In [37]:
def atgc_countlist(str_atgc):
  a = 0
  t = 0
  c = 0
  g = 0
  for value in str_atgc:
    if value == "A":
      a += 1
    elif value == "T":
      t += 1
    elif value == "C":
      c += 1
    else:
      g += 1
  return [a, "A"], [t, "T"], [c, "C"], [g, "G"]

print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

In [40]:
# ↑の模範解答
def atgc_countlist(str_atgc):
  list_count = []
  for value in "ATGC":
    int_bpcnt = str_atgc.count(value)
    list_count.append([int_bpcnt, value])
  return list_count

print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True